# apply 함수 이용하기
* series의 요소 하나하나 접근하여 함수를 작동시킴
* ex) df['강좌내용'] = series <br> 
df['강좌내용'].apply >> 시리즈의 각 요소마다 접근하므로 해당 자료형(str, int)와  관련된 함수 사용 가능
---
변수 선언할 때 주의점
* list, str, int, print 등 파이썬에는 예약변수가 있음
* 해당변수에 다른 값을 입력하면, 나중에 해당기능 사용불가
* ex)print = 456, print 사용 불가

In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/user/Desktop/230102~/실습 데이터/시청자미디어재단_체험형미디어교육_20221109 - 시청자미디어재단_체험형미디어교육_20221109.csv")
df1 = df.copy()

In [9]:
df['강좌정원수'] = df['강좌정원수'].apply(lambda x: str(x)[-1] == '5')
df.head()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,True,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,True,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,True,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,True,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,True,2022-11-09

## 실습 1
* 몇 월인지 알아보는 코드: df['교육종료일자'][0].split('-')[1]
* 여기서 값을 판단할 대상은: df['교육종료일자'][0]
* 해당코드를 활용하여 교육종료일자가 각각 몇 월인지 알아보기
* apply함수를 사용

In [12]:
df['교육종료일자'].apply(lambda i: i.split('-')[1])

0     11
1     11
2     11
3     11
4     11
      ..
94    11
95    11
96    11
97    11
98    11
Name: 교육종료일자, Length: 99, dtype: object

In [17]:
df['교육종료일자'].apply(lambda x: x.split('-'))

0     [2022, 11, 26]
1     [2022, 11, 21]
2     [2022, 11, 22]
3     [2022, 11, 23]
4     [2022, 11, 25]
           ...
94    [2022, 11, 30]
95    [2022, 11, 30]
96    [2022, 11, 30]
97    [2022, 11, 30]
98    [2022, 11, 30]
Name: 교육종료일자, Length: 99, dtype: object

In [18]:
# df['강좌정원수'].apply(lambda x: x+1)
# df['강좌정원수'] +1

In [ ]:
df['강좌명'].apply(lambda x: x[0:4])

## 실습 2
* 데이터 기준일자에서 아래 조건에 해당하는 값을 True라고 수정하기
* 데이터 기준일자가 3의 배수인 날짜인지 확인
* 해당 결과값은 데이터 기준일자 column으로 저장한다.

In [40]:
df['데이터기준일자'] =True
df

## 다른 답안
# temp = df['데이터기준일자'].apply(lambda x: True if int(x[-2:]) % 3 ==0  else x)

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,True
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,True
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,True
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,True
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,True
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,True
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,True
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,True
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,True
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,True

In [ ]:
## 데이터프레임 columns의 unique값 확인하기
for i in df.columns:
    df_uniques = df[i].unique()
    print(i,df_uniques,'\n')

## 실습 3 
* 아래 데이터에서, 센터가 수도권에 위치해있고
* 교육대상이 법정성인 이상인 강좌를 확인해보자

In [44]:
df['교육대상구분'].unique()

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '모든연령', '고등학생', '지역주민', '고등학생,장애인', '성인',
       '대학생', '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

In [46]:
df['센터명'].unique()

array(['서울시청자미디어센터', '울산시청자미디어센터', '강원시청자미디어센터', '대전시청자미디어센터',
       '광주시청자미디어센터', '부산시청자미디어센터', '인천시청자미디어센터', '충북시청자미디어센터'],
      dtype=object)

In [20]:
#수도권 센터 찾기
m = df['센터명'].apply(lambda x: x[:2] == '서울' or x[:2] == '인천')
df2 = df[m]

In [8]:
# 다른방법1
m = df['센터명'].apply(lambda x:'서울' in x or '인천' in x)

In [ ]:
# 다른방법 2 (any)
m = df['센터명'].apply(lambda x:any (['서울' in x , '인천' in x]))
df[m]

In [29]:
n = df['교육대상구분'].apply(lambda x: any(['성인' in x, '노인' in x]))
df[m][n]

C:\Users\user\AppData\Local\Temp\ipykernel_16396\1316372765.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[m][n]

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
68,인천시청자미디어센터,TV뉴스체험,"류은애,김은자",2022-11-02,2022-11-02,TV 뉴스 제작 및 영상합성 크로마키 체험,성인,오프라인,수,12,2022-11-09
69,인천시청자미디어센터,라디오체험,"류은애,김은자",2022-11-02,2022-11-02,라디오 프로그램 제작 체험,성인,오프라인,수,12,2022-11-09
73,인천시청자미디어센터,TV뉴스체험,"이두인,이희주",2022-11-07,2022-11-07,TV 뉴스 제작 및 영상합성 크로마키 체험,"성인,장애인",오프라인,월,15,2022-11-09

In [28]:
n =df['교육대상구분'].str.contains('성인')
df['강좌명'][m][n]

68    TV뉴스체험
69     라디오체험
73    TV뉴스체험
Name: 강좌명, dtype: object

In [ ]:
## 
target = ['일반','초등학생 이상','노인(65세~)','모든연령','지역주민','고등학생,장애인','성인','대학생','성인,장애인','중학생,장애인']
query_expr = '교육대상구분 in @target' # @ = 외부변수를 이용한다는 선언
df2.query(query_expr)

# 함수의 기본구조
 def(함수이름)(input):<br>
     retrun (리턴 값) <br>

위 요소 중 첫번째 줄만 갖추면 내부에 어떤 코드를 입력해도 무관함
* 약간 어려운 함수라도 읽을수 있어야함
* 함수를 안쓰고 프로그래밍 하는데 비효율적이기 때문에
* return 사용시 무조건 함수가 종료됨 >> return 아래에 있는 코드가 작동이 안됨

In [ ]:
def func1(x,y):
    z = x%y # 연산1
    w = x-y # 연산2
    if z>w: # 조건에 따른 리턴
        return 'type1'
    else:
        return 'type2'

'type1'

In [ ]:
func1(10,20)

'type1'

In [ ]:
func1(9,99)

'type1'

In [ ]:
result = func1(4,3)
result

'type2'

In [ ]:
def func2(): ## print는 화면에 출력함 , return은 출력하지 않으면 볼 수 없음
    print('func2 start')

In [ ]:
func2()

func2 start

In [ ]:
def func3():
    1+1

In [ ]:
func3()

In [ ]:
def func4():  # pass사용 가능
    pass

In [ ]:
func4()

In [ ]:
def func5(a,b):
    return a+b

In [ ]:
func5(4,11)

15

In [ ]:
func5('hello','world')

'helloworld'

In [ ]:
def func5(b): ## 고정패러미터 설정 가능, 함수 안의 변수는 밖에서 쓸 수 없음(지역변수)
    a = 500 ## << 지역변수
    return a+b

In [ ]:
func5(5)

505

In [ ]:
x = 987 # 전역변수 (함수 바깥에 있는 변수, 함수 안에서도 쓸 수 있음)
print(x)

987

In [ ]:
def func5(): 
    a = 500 ## << 지역변수
    return a+x

In [ ]:
func5()

1487

In [ ]:
a = 0

In [ ]:
def func5(): 
    global a # 전역변수 a를 이 함수 안으로 가져온다
    a += 500 # 전역변수를 참조할 경우, 해당 전역변수를 수정할 수 있음
    print(a)
    return a+x

In [ ]:
func5()

3500

4487

## 함수를 이용한 편리한 코드작성
* 리스트 컴프리헨션
* apply함수 이용
* 반복문에 활용

In [ ]:
def func6(x,y): ## 반복문에 활용
    return x-y
    print(10) ## 리턴이 사용되어 코드가 작동 X

for i in range(5):
    print(func6(i,10))

-10
-9
-8
-7
-6

In [ ]:
[i for i in range(10)] ## 리스트 컴프리헨션

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    if i%2 ==0:
        print(i)

0
2
4
6
8

In [ ]:
def func7(x):
    if x%2 ==0:
        return x

In [ ]:
[func7(i) for i in range(5)]

[0, None, 2, None, 4]

## 실습 1: 함수를 이용한 반복문
* 입력된 두 수의 제곱을 각각 리턴하는 함수를 만든다.
* 두 숫자를 입력 받고 첫번째 숫자는 팩토리얼 값, 두번째 숫자는 제곱을 출력한다.
* 특정 숫자를 입력받고 팩토리얼 연산을 한다. 단 반복문은 사용하지 않는다. (재귀함수 사용시 반복문보다 속도가 빠름)

In [ ]:
def a(x,y): ## 1
    return x**2, y**2
[a(i,i+1) for i in range(1,6)]

[(1, 4), (4, 9), (9, 16), (16, 25), (25, 36)]

In [ ]:
def b(x,y): ## 2
    result = 1
    for i in range(1,x+1):
        result *=i
    return result,y**2   
[b(i,i) for i in range(1,6)]

[(1, 1), (2, 4), (6, 9), (24, 16), (120, 25)]

In [ ]:
def c(x): ##3 
    if(x>1):
        return x*c(x-1)
    else:
        return 1
c(5)

120

In [ ]:
def c(x): ##3 다른 방법   
    a= x-1
    if(x>1):
        return x*c(a)
    else:
        return 1

In [ ]:
[c(i) for i in range(1,10)]

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
list1 =[]
for i in range(1,11):
    list1.append(c(i))
list1

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
list1 =[]
for i in range(1,11):
    list1 += [c(i)]
list1

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

## 실습 2 : 리스트컴프리헨션 이용하기
1. 1~99 범위 중 짝수만 들어있는 리스트
2. 100~-100 범위중 끝자리가 5인 수만 들어있는 리스트
3. 'apple','bird','cat','dog','e'문자에서 각 문자를 대문자로 만든 리스트

In [ ]:
'apple'.upper() # 대문자로 만들기

'APPLE'

In [ ]:
list1 = [] #1 첫번째 방법
for i in range(1,100):
    if i%2 == 0:
        list1.append(i)
list1

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
def funcA(x):
    if x %2 ==0:
        return x
    
[funcA(i) for i in range(1,100,1)]

[None,
 2,
 None,
 4,
 None,
 6,
 None,
 8,
 None,
 10,
 None,
 12,
 None,
 14,
 None,
 16,
 None,
 18,
 None,
 20,
 None,
 22,
 None,
 24,
 None,
 26,
 None,
 28,
 None,
 30,
 None,
 32,
 None,
 34,
 None,
 36,
 None,
 38,
 None,
 40,
 None,
 42,
 None,
 44,
 None,
 46,
 None,
 48,
 None,
 50,
 None,
 52,
 None,
 54,
 None,
 56,
 None,
 58,
 None,
 60,
 None,
 62,
 None,
 64,
 None,
 66,
 None,
 68,
 None,
 70,
 None,
 72,
 None,
 74,
 None,
 76,
 None,
 78,
 None,
 80,
 None,
 82,
 None,
 84,
 None,
 86,
 None,
 88,
 None,
 90,
 None,
 92,
 None,
 94,
 None,
 96,
 None,
 98,
 None]

In [ ]:
[i if i%2 ==0 else'' for i in range(2,100,2)] #1 두번째 방법

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
list1 = [] #2 첫번째 방법
for i in range(100,-100,-5):
    list1.append(i)
list1

In [ ]:
list1 = [] #2 두번째 방법
for i in range(100,-100,-1):
    if i %5 ==0:
        list1.append(i)
list1

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0,
 -5,
 -10,
 -15,
 -20,
 -25,
 -30,
 -35,
 -40,
 -45,
 -50,
 -55,
 -60,
 -65,
 -70,
 -75,
 -80,
 -85,
 -90,
 -95]

In [ ]:
[i if i%5 ==0 else '' for i in range(100,-100,-5)]

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0,
 -5,
 -10,
 -15,
 -20,
 -25,
 -30,
 -35,
 -40,
 -45,
 -50,
 -55,
 -60,
 -65,
 -70,
 -75,
 -80,
 -85,
 -90,
 -95]

In [ ]:
list1 = []
for i in range(100,-101,-1):
    if str(i)[-1] =='5':
        list1 +=[i]
list1

[95,
 85,
 75,
 65,
 55,
 45,
 35,
 25,
 15,
 5,
 -5,
 -15,
 -25,
 -35,
 -45,
 -55,
 -65,
 -75,
 -85,
 -95]

In [ ]:
[i for i in range(100,-101,-1) if str(i)[-1] =='5']

[95,
 85,
 75,
 65,
 55,
 45,
 35,
 25,
 15,
 5,
 -5,
 -15,
 -25,
 -35,
 -45,
 -55,
 -65,
 -75,
 -85,
 -95]

In [ ]:
list2 = [] #3 첫번째 방법
for i in ['apple','bird','cat','dog','e']:
    list2.append(i.upper())
list2

['APPLE', 'BIRD', 'CAT', 'DOG', 'E']

In [ ]:
[i.upper() for i in ['apple','bird','cat','dog','e']] #3 두번째 방법

['APPLE', 'BIRD', 'CAT', 'DOG', 'E']

# 과제 
* 반복문을 함수로 대체해보기

1. 판다스 패키지를 이용한다
2. 주어진 데이터를 이용해 각 row데이터에 대해 연산하기(x+1) *2 (교육시작일자 연도를 대상으로 함)
3. 연산 결과는 'calc'열로 따로 저장하기
4. (오늘 날짜).csv 파일로 내보내기
5. 이 때, 반복문을 사용한 코드, 함수를 이용한 코드를 각각 작성해보자

In [64]:
import pandas as pd
df = pd.read_csv("C:/Users/user/Desktop/230102~/실습 데이터/시청자미디어재단_체험형미디어교육_20221109 - 시청자미디어재단_체험형미디어교육_20221109.csv")
df1 = df.copy()
new_df = df.copy()

In [35]:
# apply함수로 작성
calc_column =df['교육시작일자'].apply(lambda x: x.split('-')[0])
df['calc'] = calc_column.apply(lambda x : (int(x)+1) * 2)
df.to_csv('20230106.csv',index = False) ## 인코딩 에러 발생시, encoding = 'cp949'

In [70]:
# for 반복문 작성
year =  int(df1.loc[:,'교육시작일자'][i].split('-')[0])
calc = []
for i in df1.index:
    calc.append((int(df1.loc[:,'교육시작일자'][i].split('-')[0]) +1) *2 )
df1['calc'] = calc
df1.to_csv('20230106-1.csv',index = False)

In [ ]:
# calc에 담을 인자를 변수에 저장
year =  int(df1.loc[:,'교육시작일자'][i].split('-')[0])
calc = []
for i in df1.index:
    calc.append((year +1) *2 )
calc

In [61]:
# 리스트 컴프리헨션
df['calc'] = [(int(i[:4]) +1)* 2 for i in df['교육시작일자']]

In [ ]:
# 커스텀 함수
def calc(x):
    return (int(x[:4])+1)* 2

new_df['calc'] = new_df['교육시작일자'].apply(lambda x: calc(x))
new_df

In [71]:
df1.head()

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자,calc
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09,4046
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09,4046
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09,4046
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09,4046
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09,4046

In [79]:
df1['강사명'][2]

'김도경,이수현'

In [80]:
df1.loc[2,'강사명']

'김도경,이수현'

In [81]:
df.iloc[2,2]

'김도경,이수현'

In [83]:
df1.shape

(99, 12)

# 실습 3
* df에서 (16,12)에 해당하는 값 찾아보기
* df에서 (4:70, 6:8)에 해당하는 값 찾아보기

In [90]:
df1.iloc[15,11]
# 만약 1부터 센 숫자 기준으로 좌표를 설명했다면, 위 표기대로 해결 가능함

4046

In [91]:
df1.iloc[3:69,5:7]

                             강좌내용    교육대상구분
3                  찾아가는미디어나눔버스 체험       청소년
4                  찾아가는미디어나눔버스 체험       청소년
5                           앵커 체험        유아
6               매거진프로그램을 만들어보는 체험      초등학생
7              라디오프로그램을 만들어 보는 체험      초등학생
..                            ...       ...
64  TV, 라디오, 스마트 등 매체별 미디어체험 프로그램      지역주민
65  TV, 라디오, 스마트 등 매체별 미디어체험 프로그램      지역주민
66  TV, 라디오, 스마트 등 매체별 미디어체험 프로그램      지역주민
67                 라디오 프로그램 제작 체험  고등학생,장애인
68        TV 뉴스 제작 및 영상합성 크로마키 체험        성인

[66 rows x 2 columns]

# 실습 4
* 각 요일마다 몇개의 프로그램이 진행되는지 확인하기

In [211]:
df1['운영요일'].unique()

array(['토', '월', '화', '수', '금', '목', '월,화,수,목,금,토'], dtype=object)

In [114]:
# result = 0
# for i in set(df1['운영요일']):
#     for j in list(df1['운영요일']):
#         if  j == i:
#             result +=1
#     print(i,result) 
    
m = df1['운영요일'] == '월'
df1['운영요일'][m].count()

11

In [103]:
df['운영요일'].value_counts()

금              19
수              18
화              15
목              15
월              11
월,화,수,목,금,토    11
토              10
Name: 운영요일, dtype: int64

In [115]:
list(df['운영요일'].apply(lambda x: '월' in x )).count(True)

22

In [119]:
mon = 0
for i in df['운영요일']:
    if '월' in i:
        mon +=1
mon

22

In [122]:
for d in ['월','화','수','목','금','토']:
    apply_result = df['운영요일'].apply(lambda x: d in x)
    print(d,list(apply_result).count(True))

월 22
화 26
수 29
목 26
금 30
토 21

# 실습 5 
* 위 데이터프레임에서, 교육시작일자를 11월 전반과 후반부로 분류한다.
* 11월 전/후반부에서 온/오프라인의 비중 변화를 확인한다
* 11월 전/후반부에서 강좌의 연령층 변화를 확인한다

In [154]:
df['교육방법구분'].unique()

array(['오프라인', '온라인'], dtype=object)

In [125]:
df['교육시작일자'].unique()

array(['2022-11-12', '2022-11-21', '2022-11-22', '2022-11-23',
       '2022-11-25', '2022-11-07', '2022-11-08', '2022-11-09',
       '2022-11-10', '2022-11-11', '2022-11-14', '2022-11-17',
       '2022-11-18', '2022-11-24', '2022-11-01', '2022-11-16',
       '2022-11-26', '2022-11-02', '2022-11-03', '2022-11-04',
       '2022-11-05', '2022-11-15', '2022-11-19', '2022-11-28',
       '2022-11-29', '2022-11-30'], dtype=object)

In [175]:
second = df['교육시작일자'].apply(lambda x: int(x[-2:])>=15)
first = df['교육시작일자'].apply(lambda x: int(x[-2:])<15)

In [144]:
df_second = df[m]
df_second.shape

(49, 11)

In [145]:
df_first = df[n]
df_first.shape

(50, 11)

In [207]:
old = list(df['교육대상구분'].unique())
new = []
for i in old:
    if '학생' in i:
        new.append(i)
new

['초등학생', '중학생', '초등학생 이상', '중고등학생', '고등학생', '고등학생,장애인', '대학생', '중학생,장애인']

In [196]:
old = list(df['교육대상구분'].unique()) # 원래 df에서 교육대상구분이 어떤 종류가 있는지를 저장한 정보
new =['혼합','미성년','미성년','미성년','미성년','미성년','혼합','미성년','성인','혼합','미성년','혼합','혼합','성년','성년','혼합','혼합']

In [185]:
m = df['교육시작일자'].apply(lambda x: int(x[-2:])>15)
df_15 = df[-m] # -기호는 not이라는 뜻으로, True는 False ,False는 True로 변경함
df_30 = df[m]

In [183]:
df_15['교육방법구분'].value_counts()

오프라인    50
온라인      2
Name: 교육방법구분, dtype: int64

In [186]:
df_30['교육방법구분'].value_counts()

오프라인    47
Name: 교육방법구분, dtype: int64